.header
  %h1.header__left
    = link_to "Caddies", root_path, class: 'home'
  .header__right
    %ul.header__right--box
      - if user_signed_in?
        %li.header__right--box__button
          = link_to current_user.name, user_path(current_user), class: 'post'
        %li.header__right--box__button
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
      - else
        %li.header__right--box__button
          = link_to "ログイン", new_user_session_path, class: 'post'
        %li.header__right--box__button
          = link_to "新規登録", new_user_registration_path, class: 'post'
