= render "top/header"
= render 'top/side-bar'


.main-mypage
  .edit-icon
    = link_to edit_user_path(current_user.id) do
      %i.fa.fa-cog.header-items__icons--cog
  .center-mypage
    %ul.center-mypage--box
      %li.center-mypage--box__text
        = @user.name
        のページです。
      %li.center-mypage--box__text
        あなたの今月のバッグ数は
        = @bags
        個です。
      %li.center-mypage--box__text
        あなたの今月の出勤日数は
        = @days
        日です。


