= render 'top/header'


.main-report
  .center-report
    .center-report--head
      .center-report--head__text
        %h2 明日の出番表
    .center-report--main
      %table.center-report--main__table
        %tr
          %th 6:30
          %td
            - @two_bags.each do |report|
              = report.caddy_id
          
        %tr
          %th 7:00
          %td
            - @three_bags.each do |report|
              = report.caddy_id
          
        %tr
          %th 7:30
          %td
            - @four_bags.each do |report|
              = report.caddy_id
        %tr
          %th 8:00
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
        %tr
          %th 8:30
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
        %tr
          %th 9:00
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
        %tr
          %th 9:30
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
        %tr
          %th 10:00
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ
          %tdデータ




= form_tag(search_reports_path, method: :get, class: "search-form") do
  = date_select_tag :round_at, default: Date.today, class: "search-input"
  = submit_tag 'search', class: "search-btn"
