<h2>お疲れ様でした！入力お願いします</h2>

<%= form_for @report, url: reports_path do |f| %>
  <p>
    <%= f.label :caddy_id, "キャディー番号" %><br>
    <%= f.text_field :caddy_id %>
  </p>

  <p>
    <%= f.label :bags, "バッグ数" %><br>
    <%= f.number_field :bags %>
  </p>

  <%= f.submit "完了" %>
<% end %>